* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Inter', sans-serif;
  /* Colors  */
  --pixelatedGrass: #009432;
  --lightred: crimson;
  --pomogrenate: #ea2027;
  --customBlue: #365adf;
  --neumorphicBG: lightgray;
}

body {
  background-color: darkmagenta;
  background-color: var(--neumorphicBG);
  /* background-color: var(--pixelatedGrass); */
  min-height: 100vh;
  display: -ms-grid;
  display: grid;
  place-items: center;
}

.container {
  /* font-family: 'Open Sans', sans-serif; */
  border-radius: 0.5rem;
  width: 600px;
  max-width: 100vw;
  padding: 2rem;
  -webkit-box-shadow: -2px -2px 5px rgba(255, 255, 255, 0.5), 3px 3px 5px rgba(0, 0, 0, 0.5);
          box-shadow: -2px -2px 5px rgba(255, 255, 255, 0.5), 3px 3px 5px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: -2px -2px 5px white, 3px 3px 5px rgba(0, 0, 0, 0.6);
          box-shadow: -2px -2px 5px white, 3px 3px 5px rgba(0, 0, 0, 0.6);
}

.container h2 {
  color: var(--customBlue);
  text-align: center;
  margin-bottom: 3.5rem;
}

#resultBox {
  /* border: 2px solid black; */
  background-color: green;
  background-color: #680068;
  background-color: var(--lightred);
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#result {
  font-size: 1.25rem;
  /* font-weight: bold; */
  padding: 0.5rem 1rem;
  letter-spacing: 0.5px;
  overflow-x: auto;
  /* background-color: var(--pomogrenate); */
}

#resultBox button {
  border: none;
  outline: 3px solid var(--neumorphicBG);
  background-color: var(--pomogrenate);
  background-color: #ffa600;
  background-color: #c40ac4;
  color: white;
  padding: 0.5rem 1rem;
  letter-spacing: 0.5px;
  font-weight: bold;
  cursor: pointer;
  background-color: var(--lightred);
}

.fa-clipboard {
  font-size: 1.5rem;
}

.details {
  margin: 1.5rem 0;
}

.setting {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0.5rem 1rem;
}

.setting input[type='checkbox'] {
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
}

.divForGenerateButton {
  text-align: center;
}

#generateButton {
  font-size: 1rem;
  /* font-weight: bold; */
  width: 60%;
  padding: 0.5rem 0;
  border-radius: 6px;
  border: none;
  outline: none;
  background-color: whitesmoke;
  /* border: 1px solid green; */
  color: green;
  background-color: var(--pixelatedGrass);
  color: white;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

#generateButton:hover {
  background-color: green;
}

#generateButton:active {
  -webkit-box-shadow: 0 0 0 2px var(--pomogrenate);
          box-shadow: 0 0 0 2px var(--pomogrenate);
}

#copiedMessage {
  right: 50vw;
  -webkit-transform: translateX(50%);
          transform: translateX(50%);
  border-radius: 0.25rem;
  position: fixed;
  top: 2rem;
  padding: 0.5rem 1rem;
  background-color: #333;
  color: whitesmoke;
}

.hide {
  visibility: hidden;
}

@media only screen and (max-width: 600px) {
  .container {
    padding: 2rem 1rem;
  }
}
/*# sourceMappingURL=passwordGenerator.css.map */